.btn-editar{
	text-align: right;
}

.btn-editar button{
	padding: 3px;
    opacity:0.5;
    transition: opacity 0.3s;
}

.btn-editar button:hover{
	opacity:1;
}

.editar_texto_input, .editar_texto_area{
	cursor: pointer;
	transition: background-color 0.5s;
}

.editar_texto_input:hover, .editar_texto_area:hover{
	background-color: #d9cfec;
}

.inline-block{
	display: inline-block;
}

.file_foto{
	/*color: #584788;
    font-weight: bold;*/
    color: transparent;
}

.file_foto::-webkit-file-upload-button{
	visibility: hidden;
}

.file_foto::before {
  content: url("../image/picture.png");
  cursor: pointer;
  opacity:0.5;
  transition: opacity 0.3s;
  float:right;
}
.file_foto:hover::before {
  opacity:1;
}