<div id="banner">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <div id="owl-demo" class="owl-carousel">
          
          <div class="item">
            <img src="{{ absolute_url(asset('image/banner/baner1.png')) }}">
          </div>

          <div class="item">
            <img src="{{ absolute_url(asset('image/banner/baner2.png')) }}">
          </div>

          <div class="item">
            <img src="{{ absolute_url(asset('image/banner/baner3.png')) }}">
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>