<div id="footer">
  <div class="row">
    <div class="medium-12 columns">
      
      <div class="wrapper">
        
        <div class="row">
          <div class="medium-3 columns">
            <a href=""><img src="{{ absolute_url(asset('image/logo3.png')) }}"></a>
          </div>
          <div class="medium-6 columns">
            <div class="uno"><h3>Regala Momentos</h3></div>
            <div class="dos"><h3>Regala Amor</h3></div>
            <div class="tres"><h3>Díselo con un Cupcake</h3></div>
            <div class="cuatro"><h3>Regala Cs Cupcakes</h3></div>
          </div>
          <div class="medium-3 columns">
            <h3>cont&aacute;ctanos</h3>
            <form id="contacto" name="form1" action="src/correo.php" data-abide novalidate>
              <input type="text" name="nombre" id="nombre" placeholder="Nombre">
              <input type="email" name="correo" id="mail" placeholder="E-mail">
              <div id="onenter" class="relative">
                <textarea id="mensaje"  name="msj" placeholder="Mensaje"></textarea>
                <input id="btn-enviar" type="submit" value="Enviar">
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>